.header {
    z-index: 99;
    position: fixed;
    display: grid;
    grid-template-columns: 113px auto auto;
    grid-template-rows: 67px 5px 41px;
    height: 113px;
    width: 100%;
    background-color: #00529B;
}

.header #logo { 
    grid-column: 1;
    grid-row: 1/4; 
    max-height: 113px;
}

.header #title { 
    margin: auto 1%;
    text-align: left;
    grid-column: 2;
    grid-row: 1;
    color: white;
    font-size: 32px;
    text-decoration: none;
}

.header #icon { 
    grid-column: 3;
    grid-row: 1;
    width: 67px;
    height: 67px;
    margin-right: 0px;
}

.header #bar {
    grid-column: 2/4;
    grid-row: 2;
    background-color: #E0812E;
}

.header #list { 
    display: flex;

    grid-column: 2/4;
    grid-row: 3; 
    width: 100%;
    height: 100%;
}

.nav-link {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    text-decoration: none;
    color: black;
    height: 100%;
    justify-content: center;
}

.nav-link:hover{
    background-color: #EBEEF2 !important;
}

/* ===== DROP DOWN MENU ===== */
  
.drop-down-menu__container {
    display: flex;  
}

.drop-down-menu__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: auto;
}

.drop-down-menu__icon-container:hover {
    background-color: #00438A;
}

.drop-down-menu__container #profile-icon {
    font-size: 38px;
    color: #FFFFFF;
    border-radius: 50%;
}

.drop-down-menu__container #expand-more-icon {
    color: #FFFFFF;
}
  
.drop-down-menu {
    display: block;
    top: 62px;
    right: 15px;
    position: absolute;
    background-color: white;
    z-index: 1;
    width: 230px;
    border-radius: 5px;
    box-shadow:     0      10px      10px       #666;
    /*              |        |         |
                x-shift      |         |
                          y-shift      |
                                 size of shadow
    */
}

.drop-down-menu a {
    color: #636363;
    padding: 8px 13px;
    margin: 8px 5px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    text-align: left;
    border-radius: 5px;
}

.drop-down-menu #profile-picture {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #E0812E;
    margin: 0px;
}

.gridd {
    display: grid;
    grid-template-columns: 48px 200px;
    width: 10px;
    margin: 0px;
}
  
.drop-down-menu #item-profile {
    display: grid;
    grid-template-columns: 48px 160px;
    grid-column-gap: 5px;
    width: 10px;
    margin: 5px 10px;
    margin-top: 8px;
}

.drop-down-menu #item-profile__inner {
    margin: 0px;
    padding-top: 10px;
    padding-left:10px;
}

.drop-down-menu hr {
    width: 90%;
    border:  .5px solid #636363;
}

.drop-down-menu #item-sign-out {
    background-color: #ECECEC;
}
  
.drop-down-menu a:hover {
    background-color: #ECECEC;
}