.header {
    position: fixed;
    display: grid;
    grid-template-columns: 113px auto 82px;
    grid-template-rows: 67px 5px 41px;
    height: 113px;
    width: 100%;
    background-color: #00529B;
}

.header #logo { 
    grid-column: 1;
    grid-row: 1/4; 
    height: 113px;
    width: 113px;
}

.header #title { 
    padding: 15px 15px;
    text-align: left;
    grid-column: 2;
    grid-row: 1;
    color: white;
    font-size: 32px;
    text-decoration: none;
}

.header #icon { 
    grid-column: 3;
    grid-row: 1;
    width: 67px;
    height: 67px;
    margin-right: 0px;
}

.header #bar {
    grid-column: 2/4;
    grid-row: 2;
    background-color: #E0812E;
}

.header #list { 
    grid-column: 2/4;
    grid-row: 3; 
    width: 100%;
    height: 100%;
}

.nav-link {
    display: inline-block;
    width: 33.33%;
    height: 31px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding-top: 10px;
}

.nav-link:hover{
    background-color: #EBEEF2 !important;
}

/* ===== DROP DOWN MENU ===== */
  
.drop-down-menu__container {
    display: inline-block;  
}

.drop-down-menu__container #profile-icon {
    font-size: 38px;
    color: #FFFFFF;
    border-radius: 50%;
    margin-top: 10px;
    padding: 4px;
}

.drop-down-menu__container #profile-icon:hover {
    background-color: #00438A;
}

.drop-down-menu__container #expand-more-icon {
    color: #FFFFFF;
    margin-bottom: 9px;
}
  
.drop-down-menu {
    display: block;
    top: 62px;
    right: 15px;
    position: absolute;
    background-color: #00438A;
    z-index: 1;
    width: 230px;
    border-radius: 5px;
    border-style: solid;
    border-color: #476F93;
}

.drop-down-menu a {
    color: #FFFFFF;
    padding: 8px 13px;
    margin: 8px 5px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    text-align: left;
    border-radius: 5px;
}

.drop-down-menu #profile-picture {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #E0812E;
    margin: 0px;
}

.gridd {
    display: grid;
    grid-template-columns: 48px 200px;
    width: 10px;
    margin: 0px;
}
  
.drop-down-menu #item-profile {
    display: grid;
    grid-template-columns: 48px 160px;
    grid-column-gap: 5px;
    width: 10px;
    margin: 5px 10px;
    margin-top: 8px;
}

.drop-down-menu #item-profile__inner {
    margin: 0px;
    padding-top: 10px;
    padding-left:10px;
}

.drop-down-menu hr {
    width: 90%;
    border:  .5px solid #2868A1;
}

.drop-down-menu #item-sign-out {
    background-color: #1D5FA0;
}
  
.drop-down-menu a:hover {
    background-color: #054F97;
}