@font-face {
  font-family: Quando;
  src: url(./assets/Quando-Regular.ttf);
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Quando;
  background-color: #F1F1F1;
  min-height: 100vh;
  align-content: space-between;
}


.spacer {
  height: 113px;  
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  border: none;
  outline: none;
  font-family: Quando;
  font-size: 18px;
  background-color: #E0812E;
  color: white;
}

button:hover {
  filter: brightness(125%);
}

button::-moz-focus-inner {
  border: 0;
}
